[submodule "roles/generic_motd"]
	path = roles/generic_motd
	url = https://github.com/ANTS-Framework/generic_motd.git
[submodule "roles/generic_admins"]
	path = roles/generic_admins
	url = git@github.com:ANTS-Framework/generic_admins.git
[submodule "roles/linux_adbinding"]
	path = roles/linux_adbinding
	url = git@github.com:ANTS-Framework/linux_adbinding.git
[submodule "roles/linux_defaultsoftware"]
	path = roles/linux_defaultsoftware
	url = git@github.com:ANTS-Framework/linux_defaultsoftware.git
