[submodule "roles/generic_motd"]
	path = roles/generic_motd
	url = https://github.com/ANTS-Framework/generic_motd.git
[submodule "roles/generic_admins"]
	path = roles/generic_admins
	url = https://github.com/:ANTS-Framework/generic_admins.git
[submodule "roles/linux_adbinding"]
	path = roles/linux_adbinding
	url = https://github.com/:ANTS-Framework/linux_adbinding.git
[submodule "roles/linux_defaultsoftware"]
	path = roles/linux_defaultsoftware
	url = https://github.com/:ANTS-Framework/linux_defaultsoftware.git
[submodule "roles/linux_localusers"]
	path = roles/linux_localusers
	url = https://github.com/:ANTS-Framework/linux_localusers.git
[submodule "roles/linux_paper_var"]
	path = roles/linux_paper_var
	url = https://github.com/:ANTS-Framework/linux_paper_var.git
[submodule "roles/linux_rootpassword"]
	path = roles/linux_rootpassword
	url = https://github.com/:ANTS-Framework/linux_rootpassword.git
[submodule "roles/linux_sshd_conf"]
	path = roles/linux_sshd_conf
	url = https://github.com/:ANTS-Framework/linux_sshd_conf.git
[submodule "roles/linux_systemautoupdate"]
	path = roles/linux_systemautoupdate
	url = https://github.com/:ANTS-Framework/linux_systemautoupdate.git
[submodule "roles/macos_munki_localonlymanifest"]
	path = roles/macos_munki_localonlymanifest
	url = https://github.com/ANTS-Framework/macos_munki_localonlymanifest.git
[submodule "roles/macos_munki_condition"]
	path = roles/macos_munki_condition
	url = https://github.com/ANTS-Framework/macos_munki_condition.git
[submodule "roles/macos_ssh"]
	path = roles/macos_ssh
	url = https://github.com/ANTS-Framework/macos_ssh.git
[submodule "roles/macos_sus"]
	path = roles/macos_sus
	url = https://github.com/ANTS-Framework/macos_sus.git
